<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>CrowdCheck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1><a href="{{ url_for('main.index') }}">CrowdCheck</a></h1>
    <hr>
    
    {% if session.get('user_id') %}
        <!-- Show user-related options if logged in -->
        <p>Logged in as {{ session['username'] }} | <a href="{{ url_for('main.logout') }}">Logout</a></p>
    {% else %}
        <!-- Show login and signup buttons if not logged in -->
        <p><a href="{{ url_for('main.login') }}">Login</a> | <a href="{{ url_for('main.signup') }}">Sign Up</a></p>
    {% endif %}
    
    <hr>
    
    {% block content %}{% endblock %}
</body>
</html>
